<style>
	.message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px;
	line-height: 24px; }
</style>

<div class='message-content'>

	<h3>Hello {{name}}</h3>
	<p>We have received a password reset request for your account.</p>
	<p>Check your token to change your password:</p>
	<div style='text-align: center;'>
		<p><strong>Your Token:</strong></p>
		<p>{{token}}</p>
	</div>
	<br />
	<p>If you did not request a password reset, please contact our team.</p>
	<p>Email: opensourceforjuniors@gmail.com</p>
	<p>Thank you!</p>

</div>